.cards {
  width: 500px;
  margin: 15px auto;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.user-info {
  margin-left: 40px;
}

.image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.content-wrapper {
  padding: 30px;
  display: flex;
  // justify-content: space-between;
}
