.cards {
  width: 500px;
  margin: 0 auto;
}

.image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.content-wrapper {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
