.inputBox {
  font-size: 14px;
  border-radius: 5px;
  width: 200px;
  height: 36px;
  margin-left: 10px;
  color: darkslategrey;
}

.searchbutton {
  margin-left: 10px;
}

.toolbar {
  color: #ffffff;
  background: #147abc;
}
