.inputBox {
  font-size: 14px;
  border-radius: 5px;
  width: 200px;
  height: 36px;
  margin-left: 10px;
  padding-left: 10px;
  color: darkslategrey;
}

.searchbutton {
  margin-left: 10px;
}

.select {
  width: 200px;
  height: 30px;
  margin-left: 30px;
  // padding-left: 10px;
  padding: 5px;
  font-size: 14px;
  border-radius: 5px;
  color: darkslategrey;
  background: white;
}

.toolbar {
  color: #ffffff;
  background: #147abc;
}
