<mat-toolbar class="toolbar">
  <span>SEARCH GIT USERS</span>
  <mat-select class="select" placeholder="Select Sort Type" (selectionChange)="sortData($event)">
    <mat-option *ngFor="let sortType of sort" value={{sortType.type}}>
      {{sortType.value}}
    </mat-option>
  </mat-select>
  <p><span>You selected: </span><b>{{selectedDay}}</b></p>
  <form name="searchGitUser">
    <input class="inputBox" placeholder="User Name" [(ngModel)]="userName" name="searchGitUser">
    <button type="submit" mat-raised-button class="searchbutton" (click)="searchUsers()">Search</button>
  </form>
</mat-toolbar>